.search {
  @apply flex flex-row w-[45.93269rem] h-[4.25rem] flex-shrink-0 text-primary;
  position: relative;
  transform: translateY(-28%);
  background-color: white;

  &-line {
    @apply w-[45.93269rem] h-[0.0625rem] bg-[#DEDEDE];
  }

  &-rectangle {
    @apply w-[45.93269rem] h-[4.20331rem] flex-shrink-0 fill-[white];
    position: relative;
    transform: translate(50%, 30%);
  }

  &-button {
    @apply flex w-[3.691rem] h-[4.20338rem] p-[2.1875rem] justify-center items-center gap-2.5 flex-shrink-0 bg-primary;

    &--svg {
      @apply w-5 h-[1.25006rem] flex-shrink-0 text-white;
    }
  }

  &-locations {
    @apply w-[6.9375rem] h-[1.875rem] flex-shrink-0 text-[#757575];
    &-dropdown {
      @apply flex items-center gap-2.5;

      &--text {
        @apply flex w-[4.8125rem] font-[Poppins] text-[1.125rem] not-italic font-light leading-[1.875rem];
      }

      &--arrowBtn {
        @apply w-6 h-6;
        cursor: pointer;
      }
    }
  }

  &-input:focus {
    border: 0;
  }
}
