.navBar {
  @apply w-[100%] h-[5.6875rem] flex-shrink-0 bg-background;
  &-Container {
    @apply bg-background inline-flex px-[0rem] py-5 items-center gap-[13.0625rem] w-[100%];
  }

  &-Link {
    @apply font-[Poppins] text-[22px] not-italic font-light leading-[22px] text-navBarLinkText;
    /* font-size: 2rem !important; */
  }

  &-Wrapper {
    @apply inline-flex px-0 py-[20px] items-center gap-[10px] md:gap-[209px];
  }

  &-Label {
    @apply font-[Poppins] not-italic font-bold leading-[23px] text-primary;

    user-select: none;
    &--reviews,
    &--guides,
    &--events,
    &--login,
    &--getStarted {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      user-select: none;
      color: var(--text);

      @media (max-width: 766px) {
        margin: auto 5px;
        vertical-align: middle;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          var(--primary-lighter) 10%,
          var(--primary) 50%,
          var(--primary-darker) 80%
        );
        background-size: 400%;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        height: 2rem;

        display: flex; /* Make the element a flex container */
        align-items: center; /* Align text to the baseline */

        padding: 0 0 0 2rem;

        &:hover {
          background-position: 100%;
          color: var(--text);

          transform: translateX(1rem);
          transition: transform 0.4s ease;
        }
      }

      @media (min-width: 767px) {
        height: 100%;
        align-items: center;
        display: flex;
        font-size: 2rem;
      }
    }
    @media (max-width: 767px) {
      align-items: center;
      display: flex;
      font-size: 2rem;
    }
  }

  &-login {
    &--button {
      @apply flex items-center gap-[10px] md:gap-[35px];
    }

    &--label {
      @apply font-[Poppins] not-italic font-light leading-[22px] tracking-[1px] md:tracking-[1px] text-navBarLinkText;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      user-select: none;
    }
  }

  &---getStarted {
    @apply bg-primary;

    @media (max-width: 766px) {
      vertical-align: middle;
      background: transparent;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        var(--primary-lighter) 10%,
        var(--primary) 50%,
        var(--primary-darker) 80%
      );
      background-size: 400%;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      height: 2rem;

      display: flex; /* Make the element a flex container */
      align-items: baseline; /* Align text to the baseline */
      margin-left: 2rem;
      padding: 0 0 0 2rem;

      &:hover {
        background-position: 100%;
        color: var(--text);
      }
    }

    &--label {
      @apply font-[Poppins] not-italic font-light leading-[23px] text-text;
      user-select: none;
    }

    &--button {
      @apply flex items-center gap-[10px] md:gap-[35px];
    }
  }
}

.navBarButtonsSmartPhone {
  @media (max-width: 767px) {
    button,
    a {
      text-align: left;
      width: 100%;
    }

    & > div > div {
      width: 100%;
      gap: 0;

      & > a,
      button {
        border: 1px solid var(--primary);
        padding-bottom: 1px;
      }
    }
  }
}
