.navBar {
  @apply w-[100%] h-[5.6875rem] flex-shrink-0 bg-background;
  &-Container {
    @apply bg-background inline-flex px-[0rem] py-5 items-center gap-[13.0625rem] w-[100%];
  }

  &-Link {
    @apply font-[Poppins] text-[22px] not-italic font-light leading-[22px] text-navBarLinkText;
    font-size: 2rem !important;
  }

  &-Wrapper {
    @apply inline-flex px-0 py-[20px] items-center gap-[10px] md:gap-[209px];
  }

  &-Label {
    @apply font-[Poppins] text-[35px] not-italic font-bold leading-[23px] text-primary;

    &--reviews,
    &--events,
    &--guides,
    &--login,
    &--getStarted {
      @media (max-width: 766px) {
        background: linear-gradient(
          90deg,
          var(--begin),
          var(--primary-lighter),
          var(--primary-darker),
          var(--primary),
          var(--primary-darker),
          var(--primary-lighter),
          var(--begin)
        );
      }
    }

    &--reviews,
    &--guides,
    &--events,
    &--login,
    &--getStarted {
      text-transform: uppercase;
      text-decoration: none;
      @media (max-width: 766px) {
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          var(--primary-lighter) 10%,
          var(--primary) 50%,
          var(--primary-darker) 80%
        );
        background-size: 400%;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        height: 2rem;
        display: flex; /* Make the element a flex container */
        align-items: baseline; /* Align text to the baseline */

        &:hover {
          background-position: 100%;
          color: var(--text);
        }
      }
    }
  }

  &-login {
    &--button {
      @apply flex items-center gap-[10px] md:gap-[35px];
    }

    &--label {
      @apply font-[Poppins] text-[25px] not-italic font-light leading-[22px] tracking-[1px] md:tracking-[1px] text-navBarLinkText;
    }
  }

  &-getStarted {
    @apply bg-primary;

    &--label {
      @apply font-[Poppins] text-[35px] not-italic font-light leading-[23px] text-text;
    }

    &--button {
      @apply flex items-center gap-[10px] md:gap-[35px];
    }
  }
}

.navBarButtonsSmartPhone {
  @media (max-width: 767px) {
    button,
    a {
      text-align: left;
      width: 100%;
    }

    & > div > div {
      width: 100%;
      gap: 0;

      & > a,
      button {
        border: 1px solid var(--primary);
        padding-bottom: 1px;
      }
    }
  }
}
