.reviewCard {
  &-image {
    transition: all 0.1s ease-out;
    &:hover {
      border-top: 1px solid var(--primary-darker);
      border-bottom: 1px solid var(--primary-darker);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &-tag {
    &:hover {
      font-weight: 500;
    }
  }

  &-date {
    transition: all 0.1s ease-out;
    &:hover {
      font-weight: 500;
    }
  }

  &-title {
    transition: all 0.1s ease-out;
    &:hover {
      font-weight: 500;
    }
  }

  &-content {
    transition: all 0.1s ease-out;
    &:hover {
      font-weight: 500;
    }
  }
}
